# This is Git's per-user configuration file.
[user]
	email = dhlee@usc.edu
	name = itsdawei
[pull]
	rebase = false
[push]
	autoSetupRemote = true
[safe]
	directory = /home/dawei/dev/momo/dpp_qd
	directory = /home/dawei/dev/tengen/dpp_qd
	directory = /home/dawei/dev/mnt
	directory = /home/dawei/dev/mnt/dpp_qd
