// https://github.com/gruvbox-community/gruvbox
$bg: #282828;
$bg_red: #cc241d;
$bg_green: #98971a;
$bg_yellow: #d79921;
$bg_blue: #458588;
$bg_purple: #b16286;
$bg_aqua: #689d6a;
$bg_orange: #d65d0e;
$bg_gray: #a89984;

$fg: #ebdbb2;
$red: #fb4934;
$green: #b8bb26;
$yellow: #fabd2f;
$blue: #83a598;
$purple: #d3869b;
$aqua: #8ec07c;
$orange: #fe8019;
$gray: #928374;
