* {
  border: none;
  border-radius: 0;
  font-family: Mononoki Nerd Font;
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background-color: transparent;
  color: white;
  border-top: 8px transparent;
  border-radius: 0px;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  padding: 0 5px;
  color: white;
}

#workspaces button.active {
  border-bottom: 3px solid green;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: none;
  border-bottom: 3px solid white;
}

#workspaces button.focused {
  background-color: #64727d;
  border-bottom: 3px solid white;
}

#workspaces button.urgent {
  background-color: red;
}

#mode {
  background-color: #64727d;
  border-bottom: 3px solid white;
}

#workspaces button,
#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor {
  padding: 0 8px;
  margin: 0 4px;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 3px solid rgba(255, 255, 255, 0.2);
}

#custom-launcher {
  margin-left: 5px;
  padding-left: 7px;
  padding-right: 6px;
  color: #7baba1;
}

#workspaces button:first-child {
  margin-left: 0;
}

/* #clock { */
/*   padding: 0 0; */
/*   margin: 0 0; */
/* } */
/* #clock:not(.2) { */
/*   border-bottom: none; */
/* } */

#tray {
  margin-right: 0;
}

#battery:not(.charging) {
  border-bottom: 3px solid green;
}
#battery.good:not(.charging) {
  border-bottom: 3px solid green;
}
#battery.medium:not(.charging) {
  border-bottom: 3px solid yellow;
}
#battery.warning:not(.charging) {
  border-bottom: 3px solid orange;
}
#battery.charging {
  border-bottom: 3px solid green;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
